<a href="https://colab.research.google.com/github/NishitaGaddam/letsupgradeAssignment/blob/main/G_Nishita_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1Q. Create 2 list with some brand names.

In [ ]:
list1 = ["addidas", "nike" , "sketchers" ,"bata" ,"crocs"] #creating list1 
list2 = ["h&m" ,"zara" ,"gucci","veromoda" ,"levis"] #creating 2nd list

In [ ]:
list1[0:6] # printing the list1 to check

['addidas', 'nike', 'sketchers', 'bata', 'crocs']

In [ ]:
list2[0:6] #printing the list2 to check

['h&m', 'zara', 'gucci', 'veromoda', 'levis']

In [ ]:
list_brandnames = list1 + list2 # combining both the lists
list_brandnames

['addidas',
 'nike',
 'sketchers',
 'bata',
 'crocs',
 'h&m',
 'zara',
 'gucci',
 'veromoda',
 'levis']

In [ ]:
Order= sorted(list_brandnames) # arranging in the ascending order
print("Ascending Order:  ",Order)

Ascending Order:   ['addidas', 'bata', 'crocs', 'gucci', 'h&m', 'levis', 'nike', 'sketchers', 'veromoda', 'zara']

In [ ]:
reverseOrder = sorted(list_brandnames, reverse=True) #if we want to check the reverse order
print("Reverse Order:  ", reverseOrder)

Reverse Order:   ['zara', 'veromoda', 'sketchers', 'nike', 'levis', 'h&m', 'gucci', 'crocs', 'bata', 'addidas']

Q2. List of overlapping brand names in both lists

In [ ]:
list_a =["addidas" , "nike", "sketchers","crocs","zara"] #creating lista & list b
list_b = ["h&m","crocs","gucci","nike","zara"]

In [ ]:
overlapping = set(list_a).intersection(list_b)

In [ ]:
overlapping_list = list(overlapping)

In [ ]:
overlapping_list # checking the overlapping names in the list

['crocs', 'zara', 'nike']

Q3. Print even numbers starting with 20 & ending with 40

In [ ]:
for i in range(20,41,2):
  print(i,end=" ") #printing the even numbers between 20 to 40

20 22 24 26 28 30 32 34 36 38 40